#enable_html_escaping()
#if ($searchRequest)
    #set ($urlPrefix = "${req.contextPath}/secure/IssueNavigator.jspa?reset=true")
#end
<table width="100%" class="aui" id="single_groupby_report_table">
    <thead>
    <tr>
        <th colspan="6">
            <h2>$i18n.getText('report.fullview.name')</h2>
        </th>
    </tr>
    </thead>
    <tbody>
        #foreach ($option in $statsGroup.entrySet())
            #set ($issues = $option.value)
            #if ($issues.size() > 0)
                #foreach ($issue in $issues)
                <tr>
                    <td width="5%"> </td>
                    #issueLineItem ($issue)
                    <td nowrap class="assignee">
                        #if($issue.getAssignee())
                            $issue.getAssignee().getDisplayName()
                        #else
                            $i18n.getText('common.concepts.unassigned')
                        #end</td>
                    <td nowrap class="last-updated"> $formatter.format($issue.getUpdated())</td>
                </tr>
                #end
            #else
            <tr>
                <td colspan="6">
                    <span class="subText">$action.getText("common.concepts.noissues").</span>
                </td>
            </tr>
            #end
        #end
    </tbody>
</table>
#showDebugPopup()